
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: burlywood;
    color: #333;
    line-height: 1.6;
}


header.neon-border {
    background-color: #232323;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ff4500;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ff4500;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

.topic-shadow {
    background-color: #fff;
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.topic-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.topic-content {
    padding: 10px;
}

.topic-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.topic-content h2, .topic-content h3, .topic-content h4, .topic-content h5, .topic-content h6 {
    color: #ff4500;
    margin-bottom: 15px;
    font-size: 1rem;
}

ul {
    margin-top: 15px;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #ff4500;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #333;
}

.divisoria {
    border: none;
    height: 2px;
    background: linear-gradient(to right, #ff4500, #fff);
    margin: 40px auto;
    width: 90%;
}

.img-zoom {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.img-zoom:hover {
    transform: scale(1.05);
}


footer.neon-border {
    background-color: #232323;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-top: 5px solid #ff4500;
}

footer li {
    list-style: none;
    font-size: 1em;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .topic-shadow {
        padding: 10px;
        margin: 20px auto;
    }
}

#grafico1 {
    width: 300px;
    height: auto;
}

#grafico2 {
    width: 650px;
    height: auto;
}